@{
    ViewBag.Title = "Administradores1";
}



<header class="masthead">
    <div class="container h-100">


        <link rel="stylesheet" href="~/Content/css/FondoIndex.css" />

        <center><h4 class="text-light">Administradores</h4></center>

        <br>
        <br>
        <br>
        <br>

        <div class="container">



            <a href="" class="btn btn btn-outline-light" role="button" aria-pressed="true">Mostrar Listado  </a>

            <br>
            <br>

            <a href="" class="btn btn-outline-light" role="button" aria-pressed="true">Alta</a>
            <br>
            <br>

            <a href="" class="btn btn-outline-light" role="button" aria-pressed="true">Baja</a>



        </div>

    </div>

</header>
